torch
sklearn
transformers @ git+https://github.com/huggingface/transformers.git
peft @ git+https://github.com/huggingface/peft.git
datasets
loralib
sentencepiece
accelerate
bitsandbytes
trl
gym
wandb
tensorboard
stable-baselines3
openai
timm
highway-env
moviepy
deepspeed